<div class="center">
    <h2 class="links-h2">Mockups</h2>

    <ul>
        <li>
            <a class="nav-link text-dark link-light" asp-area="" asp-controller="Quizzes" asp-action="Quiz">Quiz</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Quizzes" asp-action="QuizResult">QuizResult</a>
        </li>
    </ul>

</div>